{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html class="html">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>


	<header>
	<nav class="navbar navbar-light navbar-expand-lg pt-2 pb-1 pr-4 pl-4">
		<a class="navbar-brand mb-1 ml-3">
			<img src="{% static 'word logo.png' %}" width="250" height="45" alt="">
		</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
  		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="nav navbar-nav ml-2 items">
				<li class="nav-item">
					<a class="nav-link pb-1 active" href="#">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pb-1" href="#">PROFILE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pb-1" href="#">GALLERY</a>
				</li>
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle pb-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				OTHER
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">PPW STORY 5</a>
				</li>
			</ul>

	    	<ul class="nav navbar-nav sign">
				<li class="nav-item mr-3 mt-2">
					<a class="nav-link signin" href="#">SIGN IN</a>
				</li>
			</ul>
		</div>
	</nav>
	</header>

	<div class="cover"></div>
	<div class="container">
		<div class="title">
			<h1>&nbsp</h1>
			<h1 class="teal"></h1>
		</div>
		<div class="content-holder"><h2>MARS FASILKOM METAL</h2></div>
		<div class="content-holder"><<video width="640" height="480" controls>
			<source src="https://drive.google.com/uc?export=download&id=1fnZX6sbQ50xgdbLA1Y8xVFz8Ju9Y9hw-" type="video/mp4">
		</video></div>
		<div class="content-holder"><h2>FINAL ACT</h2></div>
		<div class="content-holder"><video width="640" height="480" controls>
			<source src="https://drive.google.com/uc?export=download&id=1KMBZDAO1AiO7xbVNA-NUyeD5betSOrW2" type="video/mp4">
		</video></div>
	</div>

	<div class="container">
		<div class="title">
			<h1></h1>
			<h1 class="teal"></h1>
		</div>
	</div>

	<footer>
	<div class="footer">
		<div class="content-holder icons">
			<a class="contact" href="#"><i class="fa fa-facebook"></i></a>
			<a class="contact" href="#"><i class="fa fa-instagram"></i></a>
			<a class="contact" href="#"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="content-holder">
			<h5>© MUZAKKI HASSAN AZMI</h5>
	</div>
	</footer>

</body>
</html>