html {
    background: url("background.png") no-repeat center center fixed;
    background-size: cover;
}

body {
	background-color: rgba(0, 0, 0, 0) !important;
}

.navbar {
	font-family: "Minion Pro";
	border-bottom: 1px solid #909090 !important;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-item {
	margin-left: 5px;
	margin-right: 12px;
}

.items {
	margin-top: 1px;
	text-align: center;
}

.sign {
	margin-left: auto;
	text-align: center;
	max-width: 150px;

}

.nav-link {
	font-size: 20px !important;
	color: #808080 !important;
	border-bottom: 1px solid transparent !important;
	margin-bottom: 1px;
	transition: 0.2s ease-in-out;
}

.nav-link:hover {
	color: #101010 !important;
}

.signin {
	margin-right: 0px;
	margin-left: 0px;
	font-size: 22px !important;
	color: black !important;
	border: 1px solid black !important;
	padding-bottom: 2px !important;
	margin-bottom: 10px;
	padding-right: 12px !important;
	padding-left: 12px !important;
}

.signin:hover {
	color: #03A8DB !important;
	border: 1px solid #03A8DB !important;
}

.cover {
    background-image: url("cover.png");
    height: 38vw; 
    width: 97%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0 auto;
	-webkit-box-shadow: 10px 10px 60px -25px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px -25px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60px -25px rgba(0,0,0,0.75);
}

h1 {
	display: inline-block;
	margin-top: 40px !important;
	font-family: "Minion Pro" !important;
	font-size: 36px !important;
}

.container{
	padding-bottom: 50px;
	min-width: 85% !important;
	max-width: 85% !important;
}

.title {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 45px;
}

video {
	display: inline-block;
	transform: translateY(-50px);
}

h2 {
	font-family: "Candara" !important;
	font-size: 26px !important;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 20px;
	padding-left: 20px;
	display: inline-block;
}

.content-holder {
	text-align: center;
}


.teal {
	color: #03A8DB;
	font-size: 26px !important;
}

.footer{
	height:160px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	font-family: "Minion Pro" !important;
	border-top: 1px solid #CCCCCC !important;
}
.active {
	color: #101010 !important;
}

h5 {
	font-size: 16px !important;
	color: #808080 !important;
}

.icons{
	margin-top: 36px;
	margin-bottom: 25px;
}

.contact:hover {
	color: #03A8DB;
}

.contact {
	color: #808080;
	margin-right: 20px;
	margin-left: 20px;
	transition: 0.2s ease-in-out;
}

.dropdown-menu{
	border-radius: 0px !important;
	padding-right: 50px !important;
	border: 0,5px solid #808080 !important;
	font-size: 18px !important;
	padding-top: 11px !important;
}

.dropdown-item{
	color: #808080 !important;
	text-align: center;
	transition: 0.2s ease-in-out;
}

.dropdown-item:hover{
	background-color: transparent !important;
	color: #101010 !important;
}